* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  margin: 3rem auto 1rem auto;
  font-size: 4.2rem;
  color: white;
}

.change-location label {
  font-size: 1.5rem;
  margin: 12rem auto 0 auto;
  color: white;
}

h1 span {
  font-size: 3rem;
}

.change-location input {
  display: block;
  margin: 1rem auto 2rem auto;
  width: 400px;
  height: 4rem;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 2rem;
  color: #525252;
  padding: 0 1rem 0 1rem;
  border-radius: 30px;
  transition: all 500ms ease;
  text-align: center;
}

.change-location input:hover {
  box-shadow: 10px 20px 10px 10px rgba(43, 43, 43, 0.363);
}

.change-location input:focus {
  outline: none;
}

.card-wrapper {
  display: none;
}

.card {
  width: 400px;
  padding-bottom: 4rem;
  height: 33rem;
  box-shadow: 10px 20px 10px 10px rgba(43, 43, 43, 0.363);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.877);

  transition: all 2s ease;
  position: relative;
}
/* .card-disp {
  display: none;
} */

.time img {
  width: 250px;
  height: 250px;
  margin-top: 1.5rem;
  padding-bottom: 0;
}

.time {
  margin-bottom: 0.5rem;
}

.details h5 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0rem auto 0.5rem auto;
}

.weather {
  text-transform: uppercase;
}

span {
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
}

.copyright p {
  color: white;
  margin-top: 2rem;
  font-size: 1rem;
}

.icon {
  height: 1rem;
  width: 100%;
  position: relative;
}

.icon img {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
